/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header/Nav Styles */
.header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

.navbar-title {
    color: white;
    font-size: 24px;
    margin: 0;
}

/* Container */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.form-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

/* Output */

.outputTable {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.output {
    margin-top: 20px;
}

.outputTable .output div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}